/*
Vaporwave by PauCamCal
*/

@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://kit.fontawesome.com/b0d98f1de6.js");

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
body {
  line-height: 1.65em;
  -webkit-text-size-adjust: none;
  -ms-overflow-style: scrollbar;
  background: #445;
  color: #445;
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
  font-weight: 300;
  letter-spacing: -0.015em;
}

ol,
ul {
  list-style: none;
}

/*General*/
@-ms-viewport {
  width: device-width;
}

@media screen and (max-width: 480px) {
  html,
  body {
	min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0 0 0.5em 0;
}

h1 {
  color: #445;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0 0.5em 0;
}

h2 {
  font-size: 2.25em;
  line-height: 1.5em;
  letter-spacing: -0.035em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
}

/*HEADER*/

#page-wrapper {
  padding-top: 3em;
}

body.landing #page-wrapper {
  padding-top: 0;
}

@-moz-keyframes reveal-header {
  0% {
	top: -5em;
  }

  100% {
	top: 0;
  }
}

@-webkit-keyframes reveal-header {
  0% {
	top: -5em;
  }

  100% {
	top: 0;
  }
}

@-ms-keyframes reveal-header {
  0% {
	top: -5em;
  }

  100% {
	top: 0;
  }
}

@keyframes reveal-header {
  0% {
	top: -5em;
  }

  100% {
	top: 0;
  }
}

#header {
  background: transparent;
  color: white;
  cursor: default;
  height: 3.25em;
  left: 0;
  line-height: 3.25em;
  position: relative;
  top: 0;
  width: 100%;
}

#header h1 {
  color: inherit;
  height: inherit;
  font-weight: 700;
  left: 1.25em;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

#header h1 a {
  color: #f0ead6;
  font-weight: 400;
  border: 0;
}

#header nav {
  height: inherit;
  line-height: inherit;
  position: absolute;
  right: 0.75em;
  top: 0;
  vertical-align: middle;
}

#header nav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#header nav > ul > li {
  display: inline-block;
  padding-left: 0;
}

#header nav > ul > li > ul {
  display: none;
}

#header nav > ul > li a {
  display: inline-block;
  height: 2em;
  line-height: 1.95em;
  padding: 0 1em;
  border-radius: 6px;
}

#header nav > ul > li a:not(.button) {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 0;
}

#header nav > ul > li a:not(.button).icon:before {
  color: #999;
  margin-right: 0.5em;
}

#header nav > ul > li:first-child {
  margin-left: 0;
}

#header nav > ul > li.active a:not(.button) {
  background-color: rgba(153, 153, 153, 0.25);
}

#header .container {
  position: relative;
}

#header .container h1 {
  left: 0;
}

#header .container nav {
  right: 0;
}
#header.alt {
  -moz-animation: none;
  -webkit-animation: none;
  -ms-animation: none;
  animation: none;
  background: none;
  color: rgba(25, 255, 255, 0.75);
  position: absolute;
}

/*MAIN*/
#main {
  padding: 4em 0;
}

#main > header {
  text-align: center;
  margin: 0 0 3em 0;
}

#main > header h2 {
  font-size: 2.75em;
  margin: 0;
}

#main > header p {
  border-top: solid 2px #e5e5e5;
  color: #777;
  display: inline-block;
  font-style: bold;
  margin: 1em 0 0 0;
  padding: 1em 0 1.25em 0;
}

body.landing #main {
  margin-top: -5em;
}

/*CONTAINER*/
.container {
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 60em;
}

.container.xsmall {
  width: 15em;
}

.container.small {
  width: 30em;
}

.container.medium {
  width: 45em;
}

.container.large {
  width: 75em;
}

.container.xlarge {
  width: 90em;
}

.container.max {
  width: 100%;
}

@media screen and (max-width: 840px) {
  .container {
	width: 100% !important;
  }
}

@media screen and (max-width: 736px) {
  .container {
	max-width: 100%;
  }
}

/*BANNER*/

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
	url("https://data.whicdn.com/images/308530056/original.gif");
  background-attachment: scroll, fixed;
  background-color: #445;
  background-position: center, center;
  background-repeat: repeat, no-repeat;
  background-size: cover, cover;
  padding: 12em 0 20em 0;
  margin-bottom: -250px;
  align-content: center;
  text-align: center;
}

#banner :last-child {
  margin-bottom: 0;
}

#banner h2,
#banner h3,
#banner h4,
#banner h5,
#banner h6 {
  color: #fff;
}

#banner h2 {
  font-size: 3.5em;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#banner p {
  font-size: 1.2em;
  margin-bottom: 1.75em;
}

#banner input[type="submit"],
#banner input[type="reset"],
#banner input[type="button"],
#banner .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
  color: #fff;
  min-width: 12em;
}

#banner input[type="submit"]:hover,
#banner input[type="reset"]:hover,
#banner input[type="button"]:hover,
#banner .button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#banner input[type="submit"]:active,
#banner input[type="reset"]:active,
#banner input[type="button"]:active,
#banner .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#banner input[type="submit"].primary,
#banner input[type="reset"].primary,
#banner input[type="button"].primary,
#banner .button.primary {
  background: #fff;
  color: #666 !important;
}

/*SKILLS ICONS*/
.icon.major {
  background: transparent;
  color: #0f0c3a;
  cursor: default;
  display: inline-block;
  height: 5.5em;
  line-height: 5.5em;
  margin: -2em 0 -2em 0;
  width: 5.5em;
}

.icon.major:before {
  font-size: 3.5em;
}

/*FONTS*/

.skills {
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  align-content: center;
  color: #f1dbff;
  font-family: orbitron;
  padding-bottom: 0;
}

.bio,
.contact {
  font-size: 1.5em;
  text-align: center;
  align-content: center;
  color: #445;
  font-family: orbitron;
}

/*BODY BOX MAIN */

.box {
  background: #f1dbff;
  border-radius: 3px;
  margin: 0 0 4em 0;
  padding: 3em;
  padding-left: 63px;
}

.box > :last-child {
  margin-bottom: 0;
}

.box.alt {
  background: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin: 0 0 2em 0;
  padding: 0 !important;
}

.box.features .features-row {
  border-top: solid 2px #0f0c3a;
  position: relative;
}

.box.features .features-row:after {
  clear: both;
  content: "";
  display: block;
}

.box.features .features-row section {
  float: left;
  padding: 3em;
  width: 50%;
}

.box.features .features-row section:last-child {
  margin-bottom: 0;
}

.box.features .features-row section:nth-child(2n) {
  padding-right: 0;
}

.box.features .features-row section:nth-child(2n):before {
  background: #0f0c3a;
  content: "";
  display: block;
  height: 100%;
  margin-left: -3em;
  position: absolute;
  top: 0;
  width: 2px;
}

.box.features .features-row section:nth-child(2n-1) {
  padding-left: 0;
}

.box.features .features-row:first-child {
  border-top: 0;
}

.box.features .features-row:first-child section {
  padding-top: 0;
}

.box.features .features-row:last-child {
  padding-bottom: 0;
}

.box.features .features-row:last-child section {
  padding-bottom: 0;
}

.box.special {
  text-align: center;
}

.box .image.featured {
  border-radius: 0;
  display: flex;
  margin: 3em 0 -3em -3em;
  position: relative;
  width: calc(100% + 6em);
  justify-content: center;
  object-fit: fill;
}

.box .image.featured img {
  border-radius: 0;
  display: flex;
  width: 100%;
  height: auto;
  object-fit: fill;
  }

.box .features .contact {
  background: #fffff;
  border-radius: 3px;
  margin: 0 0 4em 0;
  padding: 3em;
  display: block;
  width: 100%;
  height: 431px;
}

/*FOOTER ICONS*/
.icons {
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100vw;
  display: flex;
}

#instagram,
#github,
#codepen,
#linkedin,
#gmail {
  font-size: 1.5em;
  background-color: pink;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
	2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
	inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
	inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 11px 19px;
  margin: 0 40px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
	0 0 200px #0072ff;
}
#instagram {
  animation-delay: 0.3s;
}
#github {
  animation-delay: 0.5s;
}
#linkedin {
  animation-delay: 0.7s;
}
#codepen {
  animation-delay: 0.2s;
}
#gmail{
	animation-delay: 0.4s;
}

@keyframes animate {
  from {
	filter: hue-rotate(0deg);
  }
  to {
	filter: hue-rotate(360deg);
  }
}

/*FOOTER*/
#footer {
  background: #0f0c3a;
  padding: 2em 0 2em 0;
  text-align: center;
}

#footer .copyright {
  color: #f1dbff;
  font-size: 0.9em;
  line-height: 0.75 em;
  margin: 0.25em 0 0 0;
  padding: 0;
  text-align: center;
}

#footer .copyright a {
  color: #f1dbff;
}

#footer .copyright li {
  border-left: solid 1px #f1dbff;
  display: inline-block;
  list-style: none;
  margin-left: 1em;
  padding-left: 1em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

/* Mobile */

@media screen and (max-width: 850px) {
  /* Basic */

  body,
  input,
  select,
  textarea {
	font-size: 11pt;
  }

  h2 {
	font-size: 1.75em;
	line-height: 1.35em;
	letter-spacing: -0.025em;
  }

  h3 {
	font-size: 1.5em;
	padding-bottom: 0.75em;
  }

  h4 {
	font-size: 1em;
  }

  /* Section/Article */

  header.major {
	padding: 1em;
  }

  header.major h2,
  header.major p {
	padding-left: 0.5em;
	padding-right: 0.5em;
  }

  /* Box */

  .box {
	margin: 1em;
	overflow-x: hidden;
	padding: 2em 2em !important;
  }

  .box.features .features-row section {
	border: 0;
	border-top: solid 1px #e5e5e5 !important;
	float: none;
	margin: 2em 0 0 0 !important;
	padding: 2em 0 0 0 !important;
	width: 100%;
  }

  .box.features .features-row:first-child section:first-child {
	border-top: 1px !important;
	margin-top: 2em !important;
	padding-top: 2em !important;
  }

  .box .image.featured {
	margin-left: -2em;
	width: calc(100% + 4em);
  }

  .box .image.featured:first-child {
	margin-bottom: 2em;
	margin-top: -2em;
  }

  .box .image.featured:last-child {
	margin-bottom: -2em;
	margin-top: 2em;
  }

  /* Banner */

  #banner {
	padding: 4em 0;
  }

  #banner h2 {
	font-size: 2.25em;
  }

  #banner p {
	font-size: 1.25em;
  }

  /* Main */

  #main {
	padding: 4em 0 0 0;
  }

  #main > header {
	margin: 0 2em 1.5em 2em;
  }

  #main > header h2 {
	font-size: 2em;
  }

  #main > header p {
	font-size: 1em;
	padding-bottom: 1em;
  }

  body.landing #main {
	padding: 0;
	margin-top: 200px;
  }

  /* Footer */

  #footer {
	padding: 4em 0;
  }

  #footer .copyright li {
	border-left: 0;
	display: block;
	line-height: 2em;
	margin-left: 0;
	padding-left: 0;
  }

  .icons {
	font-size: 1em;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
  }
}

/* Mobile (Portrait) */

@media screen and (width: 850px) {
  /* Basic */

  html,
  body {
	min-width: 320px;
  }

  body,
  input,
  select,
  textarea {
	font-size: 11pt;
  }

  /* Section/Article */

  header.major {
	padding: 0;
  }

  /* List */

  ul.actions {
	margin: 0 0 2em 0;
  }

  ul.actions li {
	display: block;
	padding: 1em 0 0 0;
	text-align: center;
	width: 100%;
  }

  ul.actions li:first-child {
	padding-top: 0;
  }

  ul.actions li > * {
	width: 100%;
	margin: 0 !important;
  }

  ul.actions li > *.icon:before {
	margin-left: -2em;
  }

  ul.actions.small li {
	padding: 0.5em 0 0 0;
  }

  ul.actions.small li:first-child {
	padding-top: 0;
  }

  /* Box */

  .box {
	border-radius: 0;
	box-shadow: none;
	margin: 1em 0 0 0;
	padding: 3em 1em !important;
  }

  .box.features .features-row section {
	margin: 3em 0 0 0 !important;
	padding: 3em 0 0 0 !important;
  }

  .box .image.featured {
	border-radius: 0;
	margin-left: -1em;
	width: calc(100% + 2em);
  }

  .box .image.featured img {
	border-radius: 0 !important;
  }

  .box .image.featured:first-child {
	margin-bottom: 3em;
	margin-top: -3em;
  }

  .box .image.featured:last-child {
	margin-bottom: -3em;
	margin-top: 3em;
  }

  /* Banner */

  #banner {
	padding: 5em 3em 4em 3em;
		background-position: center, center;
		background-repeat: repeat, no-repeat;
		background-size: cover, cover;
		align-content: center;
		text-align: center;
  }

  /* Main */

  #main > .box:first-child {
	margin-top: 20em;
  }

  /* CTA */

  #cta {
	padding: 2.5em 1em 3em 1em;
  }
}
